html{font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style:normal;
    font-size: small;
  }

tr{
    border: solid 1px rgb(138, 138, 138);
}

  .table{
    border: solid black 1px;
    border-collapse: collapse;
}

.linclass{
    border: solid 1px;
    color: rgba(0, 0, 0, 0.26);
    font-size: small;
}

th{
    text-align: left;
    padding: 10px;
    border-right: solid black 1px;
}

td{
    text-align: center;
    padding: 10px;
}

.tds1{
    background-color: rgba(175, 167, 167, 0.188);
}

.tds{
    padding: 10px;
}


.p-t{
    color: blue;
}

.q-q{
    color: rgb(0, 221, 255);
}

.s-n{
    color: rgb(168, 165, 165);
}

#classif{
    padding-right: 100px;
}

.zerinho{
    color: rgba(0, 0, 0, 0.321);
    font-size: 10px;
    float: right;
}